body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;

    background-color: #847E6F;
}

#logo {
    position: absolute;
    left: 0px;
    top: 40px;
    z-index: 10;
}

.leaflet-control-layers-expanded {
    width: 150px;
    margin-top: 40px;
    margin-right: 40px;

    padding: 8px 10px 12px 10px;
    color: white;
    background: #504A37;
    border-radius: 0;
}
.leaflet-top .leaflet-control {
    margin-top: 100px;
}
.leaflet-right .leaflet-control {
    margin-right: 0px;
}
.leaflet-left .leaflet-control {
    margin-left: 44px;
}
.leaflet-control-layers-list {
    margin: 0;
}
.leaflet-control-layers,
.leaflet-control-zoom {
    box-shadow: none;
}
.leaflet-bar a,
.leaflet-bar a:hover,
.leaflet-bar a:first-child,
.leaflet-bar a:last-child {
    
    background-color: #504A37;
    border-radius: 0;
    border-width: 0;

    width: 20px;
    height: 20px;

    line-height: 20px;
}
.leaflet-bar a,
.leaflet-bar a:first-child,
.leaflet-bar a:last-child {
    color: #D2CCC3;
}
.leaflet-bar a:hover {
    color: white;
}
.leaflet-control-zoom-in {
    margin-bottom: 5px;
}
.leaflet-popup-content-wrapper {
    border-radius: 0;
}
.leaflet-popup-content {
    margin: 10px 12px 10px 12px;
}
.leaflet-popup-close-button {
    font-size: 10px !important;
    width: 10px !important;
    height: 10px !important;
    line-height: 10px;
    padding: 0 2px 0 0 !important;
}
